@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>主頁</title>
</head>
<body>
    @Html.ActionLink("有負載測試機全部資料列表", "ListMc908") | @Html.ActionLink("有負載測試機資料查詢", "Query908Index")
    <br />
    <hr />
    @Html.ActionLink("無負載測試機全部資料列表", "ListMc909") | @Html.ActionLink("無負載測試機資料查詢", "Query909Index")
    <br />
    <hr />
    @Html.ActionLink("扭力測試機全部資料列表", "ListMc910") | @Html.ActionLink("扭力測試機資料查詢", "Query910Index")
</body>
</html>